@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row  home-row" style="text-align: center">

        <div class="col-md shadow-lg w-100 m-1 rounded-left ml-lg-3">

            <div class="p-2 pt-3">
                <h1 class=" pb-1 ">Consectetur adipiscing elit fusce vel.</h1>
            </div>

            <div>
                <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum. Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
            </div>

        </div>

        <div class="col-md shadow-lg w-100 m-1 rounded-right mr-lg-3">

            <div class="p-2 pt-3">
                <h1 class="pb-1 ">Consectetur adipiscing elit fusce vel.</h1>
            </div>

            <div>
                <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum. Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
            </div>

        </div>

    </div>


    <div class="row home-row" style="text-align: center">

        <div class="col-md shadow-lg w-100 m-1 rounded-left ml-lg-3">
            
            <div class="p-2 pt-3">
                <h1>Pet Quiz</h1>
            </div>

            <div>
                <p>Bu test, kişilik özelliklerinize ve yaşantınıza en uygun evcil hayvanı öğrenmeniz için tasarlandı. İdeal dostunuz hangisi?</p>
            </div>
            
        </div>

        <div class="col-md shadow-lg w-100 m-1 rounded-right mr-lg-3">
            2. col
        </div>

    </div>